.navbar {
  max-width: 1400px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
.navbar ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar ul li a:hover {
  color: orange;
  text-decoration: underline;
}
