.profile {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
.profile img {
  border-radius: 50%;
  width: 40px;
  margin-left: 10px;
}
.profile__data h3 {
  font-size: 16px;
}
.profile__data p {
  font-size: 12px;
}
